<% provide(:title, 'ライン一覧') %>
<% provide(:class_text, "line--index") %>
<% provide(:button_text, "編集") %>

<h1><%= current_user.name %>のライン一覧</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= link_to "ライン新規登録", new_user_line_path(current_user), class: "btn btn-lg btn-primary pull-right" %>
    <table class="table table-hover" id="table-lines">
      <thead>
        <tr>
          <th><%= Line.human_attribute_name :line_name %></th>
          <th><%= Line.human_attribute_name :line_maker %></th>
        </tr>
      </thead>
    
      <% @lines.each do |line| %>
        <tr>
          <td><%= line.line_name %></td>
          <td><%= line.line_maker %></td>
          <td align="center">
            <%= link_to "編集", edit_user_line_path(current_user, line.id), remote: true, class: "btn btn btn-success" %>
            <%= link_to "削除", user_line_path(current_user, line.id), method: :delete, 
              data: { confirm: "削除してよろしいですか？" }, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </table>
    <div class="center">
      <%= link_to "戻る", tackle_user_path(current_user), class: "btn btn-default" %>
    </div>
  </div>
</div>

<!--モーダルウインドウ表示-->
<div id="edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>