<% provide(:title, 'Line regist') %>
<% provide(:class_text, 'ライン') %>
<% provide(:button_text, '新規登録') %>
<h1>ライン新規登録</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-2">
    <%= form_with(model: @line, url: user_lines_path(current_user), method: :post, local: true) do |f| %>
      <%= render 'shared/model_error_messages', model: @line %>   
      <table class="table table-bordered">
        <tbody class="bulk-registration-form">
        <tr>
          <th>ライン</th>
          <th>メーカー</th>
        </tr>
          <div class="field">
            <td><%= f.text_field :line_name, placeholder: "例.シーガー R18 完全シーバス ステルスグレー 0.8号", class: "form-control" %></td>
            <td><%= f.text_field :line_maker, placeholder: "例.クレハ合繊", class: "form-control" %></td>
        </tr>
        </tbody>
      </table>
      <div class="center">
        <%= f.submit yield(:button_text), class: "btn btn-primary btn-#{yield(:button_text)}" %>
        <%= link_to "戻る", user_lines_path(current_user), class: "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>