<% provide(:class_text, 'leader-info') %>
<% provide(:button_text, '更新') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title">リーダー情報編集</h1>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= form_with(model: @leader, url: user_leader_path(@leader), local: true, method: :patch) do |f| %>
            <%= render 'shared/model_error_messages', model: @leader %>

            <%= f.label :leader_name, class: "label-#{yield(:class_text)}" %>
            <%= f.text_field :leader_name, class: "form-control" %>

            <%= f.label :leader_maker, class: "label-#{yield(:class_text)}" %>
            <%= f.text_field :leader_maker, class: "form-control" %>
            
            <div class="center">
              <%= f.submit yield(:button_text), class: "btn btn-primary btn-#{yield(:class_text)}" %>
              <button type="button" class="btn btn-default btn-<%= yield(:class_text) %>" data-dismiss="modal">
                戻る
              </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
