<% provide(:title, 'ロッド一覧') %>
<% provide(:class_text, "rod--index") %>
<% provide(:button_text, "編集") %>

<h1><%= current_user.name %>のロッド一覧</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= link_to "ロッド新規登録", new_user_rod_path(current_user), class: "btn btn-lg btn-primary pull-right" %>
    <table class="table table-hover" id="table-rods">
      <thead>
        <tr>
          <th><%= Rod.human_attribute_name :rod %></th>
          <th><%= Rod.human_attribute_name :rod_maker %></th>
        </tr>
      </thead>
    
      <% @rods.each do |rod| %>
        <tr>
          <td><%= rod.rod %></td>
          <td align="center">
            <%= link_to "編集", edit_user_rod_path(current_user, rod.id), class: "btn btn btn-success" %>
            <%= link_to "削除", user_rod_path(current_user, rod.id), method: :delete, 
              data: { confirm: "削除してよろしいですか？" }, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </table>
    <div class="center">
      <%= link_to "戻る", tackle_user_path(current_user), class: "btn btn-default" %>
    </div>
  </div>
</div>