<% provide(:title, 'Rod regist') %>
<% provide(:class_text, 'ロッド') %>
<% provide(:button_text, '新規登録') %>
<h1>ロッド新規登録</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-2">
    <%= form_with(model: @rods, url: user_rods_path(current_user), method: :post, local: true) do |f| %>
      <%= render 'shared/model_error_messages', model: @rods %>   
      <table class="table table-bordered">
        <tbody class="bulk-registration-form">
        <tr>
          <th>ロッド</th>
          <th>メーカー</th>
        </tr>
        <% @rods.collection.each do |rod| %>
          <%= fields_for 'rods[]', rod do |i| %>
          <tr class="item">
            <td><%= i.text_field :rod, placeholder: "例.19 エクスセンス ジェノス S110MHR", class: "form-control" %></td>
            <td><%= i.text_field :rod_maker, placeholder: "例.シマノ", class: "form-control" %></td>
          </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
      <div class="center">
        <%= f.submit "一括登録", class: "btn btn-primary" %>
        <%= link_to "戻る", user_rods_path(current_user), class: "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>