<%= form_with(model: @user, local: true) do |f| %>
  <%= render 'shared/model_error_messages', model: f.object %>

    <%= f.label :name, class: "label-#{yield(:class_text)}" %>
    <span class="text-danger"> (必須)</span>
    <%= f.text_field :name, class: "form-control" %>

    <%= f.label :email, class: "label-#{yield(:class_text)}" %>
    <span class="text-danger"> (必須)</span>
    <%= f.email_field :email, class: "form-control" %>

    <%= f.label :tel, class: "label-#{yield(:class_text)}" %>
    <%= f.telephone_field :tel, class: "form-control" %>

    <%= f.label :prefecture, class: "label-#{yield(:class_text)}" %>
    <span class="text-danger"> (必須)</span>
    <%= f.select :prefecture, User.prefectures.keys, { prompt: "選択してください" }, class: "btn form-control prefecture-select" %>

    <%= f.label :password, class: "label-#{yield(:class_text)}" %>
    <span class="text-danger"> (必須)</span>
    <%= f.password_field :password, class: "form-control" %>

    <%= f.label :password_confirmation, class: "label-#{yield(:class_text)}" %>
    <span class="text-danger"> (必須)</span>
    <%= f.password_field :password_confirmation, class: "form-control" %>

    <%= f.submit yield(:button_text), class: "btn btn-primary btn-block btn-#{yield(:class_text)}" %>
<% end %>