<% provide(:title, "Edit") %>
<% provide(:class_text, 'user--edit') %>
<% provide(:button_text, '更新') %>
<h1>ユーザー情報更新</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'shared/model_error_messages', model: f.object %>
      
      <%= f.label :name %>
      <span class="text-danger"> (必須)</span>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :email %>
      <span class="text-danger"> (必須)</span>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :tel %>
      <%= f.telephone_field :tel, class: "form-control" %>

      <%= f.label :prefecture %>
      <span class="text-danger"> (必須)</span>
      <%= f.select :prefecture, User.prefectures.keys, { prompt: "選択してください" }, class: "form-control prefecture-select" %>

      <%= f.label :password %>
      <span class="text-danger"> (必須)</span>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :password_confirmation, "パスワード確認" %>
      <span class="text-danger"> (必須)</span>
      <%= f.password_field :password_confirmation, class: "form-control" %>

      <%= f.submit  yield(:button_text), class: "btn btn-primary btn-block btn-user--edit" %>
    <% end %>
  </div>
</div>