<% provide(:title, 'エサ一覧') %>
<% provide(:class_text, "bait--index") %>
<% provide(:button_text, "編集") %>

<h1><%= current_user.name %>のエサ一覧</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
    <%= link_to "エサ新規登録", new_user_bait_path(current_user), class: "btn btn-lg btn-primary pull-right" %>
    <table class="table table-hover" id="table-baits">
      <thead>
        <tr>
          <th><%= Bait.human_attribute_name :bait_name %></th>
        </tr>
      </thead>
    
      <% @baits.each do |bait| %>
        <tr>
          <td><%= bait.bait_name %></td>
          <td align="center">
            <%= link_to "編集", edit_user_bait_path(current_user, bait.id), remote: true, class: "btn btn btn-success" %>
            <%= link_to "削除", user_bait_path(current_user, bait.id), method: :delete, 
              data: { confirm: "削除してよろしいですか？" }, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </table>
    <%= will_paginate %>
    <div class="center">
      <%= link_to "戻る", tackle_user_path(current_user), class: "btn btn-default" %>
    </div>
  </div>
</div>

<!--モーダルウインドウ表示-->
<div id="edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>