<% provide(:title, 'リール一覧') %>
<% provide(:class_text, "reel--index") %>
<% provide(:button_text, "編集") %>

<h1><%= current_user.name %>のリール一覧</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
    <%= link_to "リール新規登録", new_user_reel_path(current_user), class: "btn btn-lg btn-primary pull-right" %>
    <table class="table table-hover" id="table-rods">
      <thead>
        <tr>
          <th><%= Reel.human_attribute_name :reel_name %></th>
          <th><%= Reel.human_attribute_name :reel_maker %></th>
        </tr>
      </thead>
    
      <% @reels.each do |reel| %>
        <tr>
          <td><%= reel.reel_name %></td>
          <td><%= reel.reel_maker %></td>
          <td align="center">
            <%= link_to "編集", edit_user_reel_path(current_user, reel.id), class: "btn btn btn-success" %>
            <%= link_to "削除", user_reel_path(current_user, reel.id), method: :delete, 
              data: { confirm: "削除してよろしいですか？" }, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </table>
    <%= will_paginate %>
    <div class="center">
      <%= link_to "戻る", tackle_user_path(current_user), class: "btn btn-default" %>
    </div>
  </div>
</div>