<% provide(:title, 'Reel regist') %>
<% provide(:class_text, 'リール') %>
<% provide(:button_text, '新規登録') %>
<h1>リール新規登録</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-2">
    <%= form_with(model: @reel, url: user_reels_path(current_user), method: :post, local: true) do |f| %>
      <%= render 'shared/model_error_messages', model: @reel %>   
      <table class="table table-bordered">
        <tbody class="bulk-registration-form">
        <tr>
          <th>リール</th>
          <th>メーカー</th>
        </tr>
          <div class="field">
            <td><%= f.text_field :reel_name, placeholder: "例.19 ステラ 2500s", class: "form-control" %></td>
            <td><%= f.text_field :reel_maker, placeholder: "例.シマノ", class: "form-control" %></td>
          </div>
        </tr>
        </tbody>
      </table>
      <div class="center">
        <%= f.submit yield(:button_text), class: "btn btn-primary btn-#{yield(:button_text)}" %>
        <%= link_to "戻る", user_reels_path(current_user), class: "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>