<% provide(:title, 'Inquiry') %>
<% provide(:class_text, 'inquiry') %>
<% provide(:button_text, 'お問い合わせ送信') %>
<h1>お問い合わせフォーム</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-2">
    <%= form_with(model: @inquiry, url: inquiries_path, local: true) do |f| %>
      <%= render 'shared/model_error_messages', model: @inquiry %>
      <% if logged_in? %>
        <!- ログインしているユーザーの名前とメールアドレスを渡す-->
        <%= f.hidden_field :name, :value => current_user.name %>
        <%= f.hidden_field :email, :value => current_user.email %>
      <% else %>
        <%= f.label :name, class: "label-#{yield(:class_text)}" %>
        <span class="text-danger"> (必須)</span>
        <%= f.text_field :name, class: "form-control" %>

        <%= f.label :email, class: "label-#{yield(:class_text)}" %>
        <span class="text-danger"> (必須)</span>
        <%= f.email_field :email, class: "form-control" %>
      <% end %>

      <%= f.label :inquiry_title, class: "label-#{yield(:class_text)}" %>
      <span class="text-danger"> (必須)</span>
      <%= f.text_field :inquiry_title, placeholder: "お問い合わせの概要を記載してください。", class: "form-control" %>

      <%= f.label :inquiry_detail, class: "label-#{yield(:class_text)}" %>
      <span class="text-danger"> (必須)</span>
      <%= f.text_area :inquiry_detail, placeholder: "詳細内容を記載してください。", class: "form-control", size: "40x10" %>

      <div class="button">
        <%= f.submit yield(:button_text), class: "btn btn-primary btn-#{yield(:button_text)}" %>
        <%= link_to "戻る", 'javascript:history.back()', class: "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>