<% provide(:title, 'Rig regist') %>
<% provide(:class_text, 'リグ') %>
<% provide(:button_text, '新規登録') %>
<h1>リグ新規登録</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @form, url: user_rigs_path(current_user), method: :post, local: true) do |f| %>
      <%= render 'shared/form_error_messages', model: @form %>  
      <table class="table table-bordered">
        <tbody class="bulk-registration-form">
        <%= f.fields_for :rigs do |i| %>
        <tr class="item">
          <td><%= i.text_field :rig, placeholder: "例.テキサスリグ", class: "form-control" %></td>
        </tr>
        <% end %>
        </tbody>
      </table>
      <div class="center">
        <%= f.submit "一括登録", class: "btn btn-primary" %>
        <%= link_to "戻る", user_path(current_user), class: "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>